*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    background-image: url("resources/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;


}
.nav-logo{
    height: 50px;
    width: 100px;

}
.border{
    border: 2px solid transparent;

}
.border:hover{
    border: 2px solid white;
}
/**box**/
.add-first{
    color: #cccc;
    font-size: 1rem;
    margin-left: 15px;
    
}
.add-sec{
    font-size: 1rem; 
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/** box 3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.searchslct{
    background-color: #f3f3f3;
    width: 60px;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 6px;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fedb68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/**box4**/

.flag-icon{
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1 rem;
}
.select-lang{
    align-items: center;
    margin-left: 0.4rem;
}
.lang{
    display: flex;
    background-image: url("resources/usa.webp");
    background-size: cover;
    align-items: center;
    width: 20px;
    height: 20px;
}
/** box 5**/
span{
    font-size: 0.7rem;

}
.nav_second{
    font-size: 0.85rem;
    font-weight: 700;

}
/**box 6**/

.nav-cart i{
    font-size: 26px;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    
}
.panel-opt p{
    display: inline;
    margin-left: 10px;
}
.panel-opt{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9;
    font-weight: 700;
}
/**hero section**/
.hero-section{
        background-image: url("resources/hero_image.jpg");
        background-size: cover;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;

}
/** shop section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;


}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}